@model GestaoEscolar.Models.Cliente

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<script>
    jQuery(function ($) {
        $("#Estado").mask("99");
    });


    $(function () {
        $('#Estado').val("@Model.Estado");

        document.getElementById("Nome").disabled = true;
        document.getElementById("Contato_Funcao").disabled = true;
        document.getElementById("Contato_Nome").disabled = true;
        document.getElementById("Cgc_Cpf").disabled = true;
        document.getElementById("Inscr_Estadual").disabled = true;
        document.getElementById("Endereco").disabled = true;
        document.getElementById("Cidade").disabled = true;
        document.getElementById("Estado").disabled = true;
        document.getElementById("Cep").disabled = true;
        document.getElementById("Telefone1").disabled = true;
        document.getElementById("Telefone2").disabled = true;
        document.getElementById("Telefone3").disabled = true;
        document.getElementById("Obs").disabled = true;
        document.getElementById("Preco_Base").disabled = true;
    });


</script>

<div class="panel panel-heading">
    <strong><span class="fa fa-cog"></span><span>&nbsp;</span>Cliente</strong>
</div>


@Html.Partial("_PartialFormCliente");


<div class="panel panel-footer">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-6">
            <a class="btn btn-block btn-lg btn-default" href="@Url.Action("Index")"><span class="fa fa-reply"></span><span>&nbsp;</span>Voltar</a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-block btn-lg btn-primary" href="@Url.Action("Editar", new { id = Model.Id })"><span class="fa fa-edit"></span><span>&nbsp;</span>Editar</a>
        </div>
    </div>
</div>
